#txtarea{
    background-color: black;
    color: aliceblue;
    display: flex;
    margin: auto;
}
#boton1{
    display: flex;
    justify-content: center;
    margin: auto;
}
#pre1{
    padding: 1%;
    text-align: center;
    justify-content: center;
}
#boton1:hover{
    background-color: rosybrown;
}